APP_ENV=development
APP_PORT=8080
APP_TIMEZONE=Asia/Jakarta

DATABASE_URL=postgres://iwanharli@127.0.0.1:5432/db_patenandum?sslmode=disable

SESSION_SECRET=ganti_dengan_secret_acak_panjang
UPLOAD_DIR=./uploads
MAX_UPLOAD_MB=8
FRONTEND_DIST=../frontend/dist
